.Header {
  background: #17b7ff;
  margin-bottom: 20px;
}

.Header .navbar a {
  color: #ffffff;
  padding: 15px 20px;
  display: inline-block;
}
.Header .navbar a:hover {
  background-color: #02a0e9;
}
